<div class="container">
    <h2 class="d-flex justify-content-center py-5">Editar item</h2>
    <div class="col-12">
    <div class="row my-5">
    <div class="col-4">
        <img src="{{produto.imagem}}" style="width: 300px; height: 200px;background-size: cover;" alt="">
    </div>
<div class="col-8">
    <div class="form-group">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Abacaxi" [(ngModel)]="produto.nome">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Preço</label>
      <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="5" [(ngModel)]="produto.preco">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Imagem</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="www.imagemdafruta.com/morango.jpg"[(ngModel)]="produto.imagem">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Quantidade em estoque</label>
      <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="15" [(ngModel)]="produto.qtdEstoque">
    </div>
    <div>
        <button type="button" class="btn btn-outline-info align-right" (click)= "salvar()">Salvar</button>
    </div>
</div>





          